body {
  font-family: "돋움", sans-serif;
}
.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  color: #FFF;
}
.btn-info {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
  background: #f5f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0);
  /* IE6-9 */
  color: #666;
}
.btn-waring {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c667+0,f79621+100;Orange+3D+%234 */
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9c667 0%, #f79621 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621', GradientType=0);
  /* IE6-9 */
}
.btn {
  border: 1px #F00 solid;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  font-size: 1em;
  padding: 0 20px;
  cursor: pointer;
  font-weight: normal;
  background: #CCC;
}
.btn:hover {
  background: #F00;
}
.btn-point {
  border: 1px #F00 solid;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1em;
  padding: 0 20px;
  cursor: pointer;
  font-weight: normal;
  background: #78c4ff;
}
.btn-point:hover {
  background: #F00;
}
a.btn {
  border: 1px #F00 solid;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 30px -2;
  height: 30px -2;
  text-decoration: none;
  font-size: 1em;
  padding: 0 20px;
  cursor: pointer;
  font-weight: normal;
  background: #CCC;
}
a.btn:hover {
  background: #F00;
}
.btn-def {
  background-color: #CCC;
}
.btn-def:hover {
  background: #e6e6e6;
}
div.box {
  widht: 30%;
  height: 100px;
  background-color: #78c4ff;
  background-color: #def1ff;
}
