body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu {
  width: 200px;
  border: 1px #ccc;
  border-radius: 20px;
  overflow: hidden;
}
.menu ul {
  background-color: #CCC;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
