* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "돋움", sans-serif;
}
.test1 {
  border: 2px #000 solid;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: 15px;
  vertical-align: middle;
  width: 40px;
  height: 25px;
  font-size: 1em;
  cursor: pointer;
  padding: 0 10px;
  text-weight: normal;
}
