<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script>
        
        var worldCtrl = function($scope){
            
            $scope.pupulation = 6000000000;
            $scope.countries =  [
                    {"name":"한국","pupulation":70000000},
                    {"name":"중국","pupulation":1300000000},
                    {"name":"일본","pupulation":200000000}
                ]
            $scope.asianPercentage = function(countryPopulation){
                
                return (countryPopulation / $scope.pupulation) * 100;
            }
        } 
        
        
    </script>
    
</head>
<body ng-app>
    
    <div ng-controller="worldCtrl">
        
        <ul ng-repeat="country in countries">
            <li>나라:{{country.name}}, 의  인구는 {{country.pupulation}}이다
                <br/>
                아시아의 전체인구는 {{asianPercentage(country.pupulation)}}퍼센트이다.
                아시아의 전체인구는 {{sum(country.pupulation)}}명이다.
            </li>
            
        </ul>
        
        <p>전세계 인구는 {{pupulation}} 이다.</p>
    </div>
    
    
</body>
</html>

<!--/////////////////////////////////////////////////////////////////////////////-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script>
        
        var worldCtrl = function($scope){
            
            $scope.pupulation = 6000000000;
            $scope.aa = 0;
            $scope.countries =  [
                    {"name":"한국","pupulation":70000000},
                    {"name":"중국","pupulation":1300000000},
                    {"name":"일본","pupulation":200000000},
                 ]
           
            for(var i = 0 in $scope.countries){
                $scope.aa += $scope.countries[i].pupulation
            }
             
            $scope.asianPercentage = function(countryPopulation){
                return (countryPopulation / $scope.pupulation) * 100;
            }
        } 
    </script>
    
</head>
<body ng-app>
    
    <div ng-controller="worldCtrl">
        
        <ul ng-repeat="country in countries">
            <li>나라:{{country.name}}, 의  인구는 {{country.pupulation}} 퍼센트 인구이다 <br/>
                아시아의 전체인구는 {{asianPercentage(country.pupulation)}}  퍼센트이다.
            </li>
            
        </ul>
        
        <p>전체인구는 {{aa}}이다.</p>
    </div>
    
    
</body>
</html>